body {
    background-color: #0f172a;
    color: #c4a484;
    font-family: 'Fauna One', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.landing-container {
    text-align: center;
    border: 1px solid #c4a484;
    padding: 50px;
    background: rgba(255, 255, 255, 0.02);
}
.main-title {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.explore-btn {
    background: transparent;
    border: 1px solid #c4a484;
    color: #c4a484;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Cinzel';
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.explore-btn:hover {
    background: #c4a484;
    color: #0f172a;
}
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c4a484;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    outline: none;
}